<style>
.about {
    width:940px;
    height:480px;
    padding-top:30px;
    padding-right:20px;
    padding-left: 20px;
    display:flex;
    flex-wrap: wrap;
}
#goal{
    float:left;
    padding:1px;
    width:300px;
    height:400px;
    background-color:white;
    border:solid lightgrey;
margin-top:10px;


}
#vision{
    float:left;
    padding:1px;
    width:300px;
    height:400px;
    background-color:white;
    border:solid lightgrey;
    margin-left:25px;
    margin-right:25px;
margin-top:10px;

}
#mission{
    float:right;
    padding:1px;
    width:300px;
    height:400px;
    background-color:white;
    border:solid lightgrey;
margin-top:10px;

}
.about p{
  color:lightgrey;
    font-size: 2.5vw;
}
.about h3{
  color: black;
font-weight: bold;
}
</style>

<section class="relative py-20 ">

         <div class="pt-20 pb-48 container mx-auto px-4 ">
        <div class="flex flex-wrap justify-center text-center mb-24">

               <h2 class="text-4xl font-semibold text-black">About Us</h2>
<br>
                <p class="text-lg leading-relaxed m-4 text-gray-600">
                    Working with us is a pleasure
                </p>

            </div>
                <div class="about">
                    <div id="mission">
 <img src="./assets/img/mission.png"style="width:200px; height:220px;">
                    <h3 float="left" color="black">Our Mission </h3>
                    </br>
                    <p float="left" color="light grey" >
                       To accompany the Client in the field of data management and provide a reliable and trusted way to manage the data.
                    </p>

                </div>
                <div id="goal">
                    <img src="./assets/img/goal.png"style="width:200px; height:220px;">
                    <h3 float="left" color="black">Our Purpose </h3>
                    </br>
                    <p float="left" color="light grey">
                       To deliver the best possible solution, that guarantees our Clients a performance increase.
                    </p>


                </div>
                 <div id="vision">
 <img src="./assets/img/vision.png"style="width:200px; height:220px;">
                    <h3 float="left" color="black">Our Vision </h3>
                    </br>
                    <p float="left" color="light grey">
                       Become the customer's first thought when it come to Industrial Data Management.
                    </p>

                </div>

                </div>





    </div>
</section>
