<style>
.container {
    width:600px;
    height:600px;
    padding:20px;
}
#goal{
    float:left;
    width:180px;
    hegiht:400px;
    background-color:white;
    border:solid lightgrey;
}
#mission{
    float:left;
    width:180px;
    hegiht:400px;
    background-color:white;
    border:solid lightgrey;
    margin-left:50px;
}
#vision{
    float:right;
    width:180px;
    hegiht:400px;
    background-color:white;
    border:solid lightgrey;
    margin-left:50px;

}
</style>

<section class="relative py-20 ">

    <div class="container mx-auto px-4">
        <div class="items-center flex flex-wrap">


                <h1 class="text-3xl mb-2 font-semibold leading-normal ">
                    About Us
                </h1>
                <p
                        class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
                >
                    Working with us is a pleasure
                </p>
                <div class="container">
                <div id="goal">
                    <img src="./assets/img/goal.png"style="width:180px; height:220px;">
                    <h2 float="left" color="black">Our Purpose </h2>
                    </br>
                    <p float="left" color="light grey">
                       To deliver the best possible solution, that guarantees our Clients a performance increase.
                    </p>


                </div>
                   <div id="mission">
 <img src="./assets/img/mission.png"style="width:180px; height:220px;">
                    <h2 float="left" color="black">Our Mission </h2>
                    </br>
                    <p float="left" color="light grey">
                       To accompany the Client in the field of data management and provide a reliable and trusted way to manage the data.
                    </p>

                </div>
                 <div id="vision">
 <img src="./assets/img/vision.png"style="width:180px; height:220px;">
                    <h2 float="left" color="black">Our Vision </h2>
                    </br>
                    <p float="left" color="light grey">
                       Become the customer's first thought when it come to Industrial Data Management.
                    </p>

                </div>

                </div>




        </div>
    </div>
</section>
