<style>
.container {
    width:620px;
    height:600px;
    padding-top:30px;
    padding-right:20px;
    padding-left: 20px;

}
#mission{
    float:left;
    width:160px;
    height:400px;
    background-color:white;
    border:solid lightgrey;
}
#goal{
    float:left;
    width:160px;
    height:400px;
    background-color:white;
    border:solid lightgrey;
    margin-left:25px;
}
#vision{
    float:right;
    width:160px;
    height:400px;
    background-color:white;
    border:solid lightgrey;


}
</style>

<section class="relative py-20 ">

         <div class="pt-20 pb-48 container mx-auto px-4 ">
        <div class="flex flex-wrap justify-center text-center mb-24">

               <h2 class="text-4xl font-semibold text-black">About Us</h2>
            </br>
                <p class="text-lg leading-relaxed m-4 text-gray-600">
                    Working with us is a pleasure
                </p>
            </div>
                <div class="flex flex-wrap">
                    <div id="mission">
 <img src="./assets/img/mission.png"style="width:160px; height:220px;">
                    <h2 float="left" color="black">Our Mission </h2>
                    </br>
                    <p float="left" color="light grey">
                       To accompany the Client in the field of data management and provide a reliable and trusted way to manage the data.
                    </p>

                </div>
                <div id="goal">
                    <img src="./assets/img/goal.png"style="width:160px; height:220px;">
                    <h2 float="left" color="black">Our Purpose </h2>
                    </br>
                    <p float="left" color="light grey">
                       To deliver the best possible solution, that guarantees our Clients a performance increase.
                    </p>


                </div>
                 <div id="vision">
 <img src="./assets/img/vision.png"style="width:160px; height:220px;">
                    <h2 float="left" color="black">Our Vision </h2>
                    </br>
                    <p float="left" color="light grey">
                       Become the customer's first thought when it come to Industrial Data Management.
                    </p>

                </div>

                </div>





    </div>
</section>
