<footer class="relative py-6 px-6" style="background-color: #363636;">
  <div class="w-full">
    <div class="flex flex-row justify-center">
      <div class="flex-1 w-full px-4">
        <h4 class="text-xl font-semibold text-white pb-6">Contact info</h4>
        <div class="flex-row py-1">
          <img style="width: 25px; color: white; display: inline-block;" src = "./assets/img/map.svg" alt="DEEM"/>
          <div class="text-md text-white inline-block"> Str. der Nationen 62, 09111 Chemnitz </div>
        </div>
        <div class="flex-row py-1">
          <img style="width: 25px; color: white; display: inline-block;" src = "./assets/img/email.svg" alt="DEEM"/>
          <div class="text-md text-white inline-block"> deemtuc@gmail.com </div>
        </div>
        <div class="flex-row py-1">
          <a href="https://twitter.com/deemtuc" target="_blank">
            <img style="width: 25px; color: white; display: inline-block; margin: 4px;" src = "./assets/img/twitter.svg" alt="DEEM"/>
          </a>
          <a href="https://github.com/Ovaday/DEEMa" target="_blank">
            <img style="width: 25px; color: white; display: inline-block; margin: 4px;" src = "./assets/img/github.svg" alt="DEEM"/>
          </a>
        </div>
      </div>


      <div class="flex-1 w-full px-4">
        <h4 class="text-xl font-semibold text-white pb-6">Useful links</h4>
          <div class="flex flex-col">
            <div class="text-md text-white inline-block py-1"> <a href="#about_us">About us</a> </div>
            <div class="text-md text-white inline-block py-1"> <a href="#our_services">Our services</a> </div>
            <div class="text-md text-white inline-block py-1"> <a href="#our_team">Our team</a> </div>
            <div class="text-md text-white inline-block py-1"> <a href="#contact_us">Contact us</a> </div>
          </div>
      </div>


      <div class="flex-1 w-full px-4">
        <h4 class="text-xl font-semibold text-white pb-6">Disclamer</h4>
        <div class="text-md text-white inline-block py-1"> 
          This website does not belong to a real company. It is a Planspiel Web Engineering Project.
        </div>
      </div>
    </div>

    <hr class="my-6 border-gray-400" />
    
    <div class="flex flex-row items-center justify-between justify-center w-full">
      <div></div>
      <div class="text-lg text-white">
        @ Copywrites DEEM All rights reserved
      </div>
      <a href="#">
        <div style="width: 30px; height: 30px; background-color: #DADADA; border-radius: 4px;">
          <img style="width: 30px;" src = "./assets/img/arrow-up.svg" alt="DEEM"/>
        </div>
      </a>
    </div>
  </div>
</footer>
