<div class="relative flex content-center items-center justify-center"
     style="height: 100vh; padding: 6vh"
>
  <div class="absolute top-0 w-full h-full bg-center bg-cover" >
    <span class="w-full h-full absolute bg-deem"></span>
  </div>
  <div class="container relative mx-auto h-full">
    <div class="items-center flex flex-col justify-between h-full">
      <div></div>
      <div class="flex-col justify-center items-center">
        <div class="bg-white"  style="width: 400px;">
          <img style="width: 400px;" src = "./assets/img/deemlogotext.svg" alt="DEEM"/>
        </div>
        <p class="mt-4 text-lg text-gray-300 text-center">
          exceed your expectations
        </p>
      </div>

      <a href="#about_us">
        <img style="width: 70px;" src = "./assets/img/arrow-down.svg" alt="DEEM" onclick=""/>
      </a>
      

    </div>
  </div>
</div>