<div class="relative pt-16 pb-32 flex content-center items-center justify-center"
     style="height: 100vh;"
>
  <div class="absolute top-0 w-full h-full bg-center bg-cover" >
    <span id="blackOverlay" class="w-full h-full absolute bg-deem"></span>
  </div>
  <div class="container relative mx-auto h-full">
    <div class="items-center flex flex-col justify-between h-full">
      <div></div>
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
        <h1 class="text-white font-semibold header">
          DEEM
        </h1>
        <p class="mt-4 text-lg text-gray-300">
          exceed your expectations
        </p>
      </div>

      <a href="#about_us">
        <img style="width: 70px;" src = "./assets/img/arrow-down.svg" alt="DEEM" onclick=""/>
      </a>
      

    </div>
  </div>
</div>