{% assign menu_items = "about_us,our_values,our_services,our_team,team_skills,contact_us" | split: ','  %}
<nav class="top-0 absolute z-50 flex flex-row sm:flex-col justify-between items-center px-8 shadow-md shadow-black bg-deem" style="position: sticky; top: 0;">
        <div
          class="relative flex justify-between lg:static lg:block lg:justify-start"
        >
          <div class="bg-white">
            <a href="/" >
              <img style="width: 100px;" src = "./assets/img/deemlogonew.svg" alt="DEEM"/>
            </a>
          </div>
        </div>
        <div
          class="flex items-center bg-transparent py-3 "
        >
          <ul id="menu" class="flex flex-row text-gray-deem">
            {% for post in menu_items %}
              <li class="flex items-center px-2">
                <a href="#{{post}}">{{post | replace: "_", " " | capitalize}}</a>
              </li>
            {% endfor %}
            <li class="flex items-center px-2">
              <img style="width: 30px;" src = "./assets/img/eye.svg" alt="DEEM"/>
            </li>
          </ul>
        </div>
</nav>

<script>  
  window.onload = function() {
  /// add smoothing scroll animation
  const tmp = document.querySelectorAll('a[href^="#"]');
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});

  /// highlight selected element on reload
  const pathBits = window.location.href.split('#');
  if(pathBits.length > 1 & pathBits[1] != "") {
    let element = document.querySelectorAll(`a[href='#${pathBits[1]}']`)[0];
    if(element != null && element != undefined) {
      element.classList.add('links');
    }
  }
 }

</script>