<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between 
px-5 py-3 navbar-expand-lg shadow-md shadow-black bg-deem" >
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between" >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          <a
            class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-gray-400"
            href="/"
            >DEEMa</a
          >
        </div>
        <div
          class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden"
        >
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
            <li class="flex items-center text-gray-deem px-2">
              <a href="#about_us">About us</a>
            </li>
            <li class="flex items-center text-gray-deem px-2">
              <a href="#our_values">Our values</a>              
            </li>
            <li class="flex items-center text-gray-deem px-2">
              <a href="#our_services">Our services</a>
            </li>
            <li class="flex items-center text-gray-deem px-2">
              <a href="#our_team">Our team</a>              
            </li>
            <li class="flex items-center text-gray-deem px-2">
              <a href="#team_skills">Team skills</a>
            </li>
            <li class="flex items-center text-gray-deem px-2">
              <a href="#contact_us">Contact us</a>
            </li>
          </ul>
        </div>
  </div>
</nav>