<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between 
px-5 py-3 navbar-expand-lg shadow-md shadow-black bg-deem" style="position: sticky; top: 0;">
  <div class="container mx-auto flex flex-wrap items-center justify-between" >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          <a
            class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-gray-400"
            href="/"
            >DEEMa</a
          >
        </div>
        <div
          class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden"
        >
          <ul id="menu" class="flex flex-col lg:flex-row list-none lg:ml-auto text-gray-deem">
            <li class="flex items-center px-2">
              <a href="#about_us">About us</a>
            </li>
            <li class="flex items-center px-2">
              <a href="#our_values">Our values</a>              
            </li>
            <li class="flex items-center px-2">
              <a href="#our_services">Our services</a>
            </li>
            <li class="flex items-center px-2">
              <a href="#our_team">Our team</a>              
            </li>
            <li class="flex items-center px-2">
              <a href="#team_skills">Team skills</a>
            </li>
            <li class="flex items-center px-2">
              <a href="#contact_us">Contact us</a>
            </li>
          </ul>
        </div>
  </div>
</nav>

<script>  
  window.onload = function() {
  /// add smoothing scroll animation
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});

  /// highlight selected element on reload
  const pathBits = window.location.href.split('#');
  if(pathBits.length > 1 & pathBits[1] != "") {
    let element = document.querySelectorAll(`a[href='#${pathBits[1]}']`)[0];
    if(element != null && element != undefined) {
      element.style.color = "white";
      element.style.fontWeight = "bold";
    }
  }
 }

</script>