<div class="bg-white relative flex content-center items-center justify-center flex-row" style="height: 100vh;">
    <div>
        <h3 class="pb-6 mb-2 font-semibold leading-normal text-center deem-topic"> Our Services </h3>
        <div class="flex space-x-2 py-2 my-2 px-12">
            <div class="w-1/3 px-20">
                <h3 class="py-6 deem-skills-topic font-semibold">Organisation of Data</h3>
                <p class="py-6 text-center" style="font-size: 18px">
                    Finding the right solution to store and manage the data - is a foundational step of building swift
                    and robust software.
                </p>
                <p class="py-6 text-center" style="font-size: 18px">Choose us and get reliable and scalable data
                    organisation.</p>
            </div>
            <div class="w-1/3 px-20">
                <h3 class="py-6 deem-skills-topic font-semibold">Data Management</h3>
                <p class="py-6 text-center" style="font-size: 18px">
                    Managing existing data is important for any production in today's world.
                </p>
                <p class="py-6 text-center" style="font-size: 18px">
                    We provide services, that
                    help our clients arrange, transform and operate their data with ease.
                </p>
            </div>
            <div class="w-1/3 px-20">
                <h3 class="py-6 deem-skills-topic font-semibold">Web Application for Users</h3>
                <p class="py-6 text-center" style="font-size: 18px">
                    Modern data-driven solutions require good monitoring and visualisation capabilities. This all could
                    be achieved with a good user interface and a clever data management.
                </p>
                <p class="py-6 text-center" style="font-size: 18px">Let us help you - just a
                    request and we bring your service into a new level.</p>
            </div>
        </div>
    </div>
</div>