<div class="bg-white relative flex content-center items-center justify-center flex-row" style="height: 100vh;">
    <div>
        <h3 class="pb-6 mb-2 font-semibold leading-normal text-center deem-topic"> Our services </h3>
        <div class="flex space-x-8 py-2 my-2">
            <div class="w-1/3 h-96 border-solid border-2 rounded-md border-gray-500">
                <h3 class="py-6 deem-skills-topic">Data Management System</h3>
                <ul class="list-disc list-inside pt-6" style="font-size: 18px">
                    <li>
                        We provide a data transformation solution for our clients for a seamless experience within the
                        requested services. Our development converts and maps the data within specified requirements,
                        alternating the codeload maintenance from your team to us.
                    </li>
                </ul>
            </div>
            <div class="w-1/3 h-96 border-solid border-2 rounded-md border-gray-500">
                <h3 class="py-6 deem-skills-topic">Web Application for Scratch</h3>
                <ul class="list-disc list-inside pt-6" style="font-size: 18px">
                    <li>
                        We are able to perform all kinds of requests for turning your wish into reality. Have you ever
                        marked out that your software looks like an Alien from the 90's, and the competitors already
                        working with Amazon? Let us help you - just a request and we bring your service into a new
                        level.
                    </li>
                </ul>
            </div>
            <div class="w-1/3 h-96 border-solid border-2 rounded-md border-gray-500">
                <h3 class="py-6 deem-skills-topic">Database Architecture</h3>
                <ul class="list-disc list-inside pt-6" style="font-size: 18px">
                    <li>
                        Finding the right solution to store and manage the data - foundational step in the process of
                        building swift and robust software. More than 40% of the production systems had to spend plenty
                        of hours in upgrade due to a lack of qualified initial planning for the high load. Choose us and
                        save the lost profits due to the hovering system in from of the client.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>