<div class="bg-white relative flex content-center items-center justify-center flex-row h-screen" style="height: 100vh;">
    <h3 class="pb-6 mb-2 font-semibold leading-normal text-center deem-topic"> Team skillset </h3>
    <div class="flex space-x-8 py-2 my-2 w-full">
        <div class="w-1/3 h-16 px-14 border-solid border-2 rounded-md border-gray-500">
            <h3 class="py-2 deem-skills-topic">Web development</h3>
        </div>
        <div class="w-1/3 h-16 px-14 border-solid border-2 rounded-md border-gray-500">
            <h3 class="py-2 deem-skills-topic">Data management</h3>
        </div>
        <div class="w-1/3 h-16 px-14 border-solid border-2 rounded-md border-gray-500">
            <h3 class="py-2 deem-skills-topic">System engineering</h3>
        </div>
    </div>
</div>