<section class="bg-deem py-20">
    <div class="pb-48 container mx-auto px-4 " style="height: 100vh;">
        <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
                <h3 class="font-semibold deem-topic-white">Here are our heroes</h3>
                <p class="text-lg leading-relaxed m-4 text-gray-400" style="font-size: 1.25rem">
                    A close-knit team of developers who
                    solve problems in the fulfillment of any
                    customer requests.

                </p>
            </div>
        </div>

        <div class="flex flex-wrap justify-center lg:space-x-4">

            <div class="w-full md:w-6/12 lg:w-1/6 lg:mb-0 mb-6 pb-6 bg-deem">
                <div class="">
                    <img
                            alt="..."
                            src="./assets/img/photos/daria_bild.jpg"
                            class="shadow-lg max-w-full mx-auto"
                    />
                    <div class="pt-6 text-center px-2">
                        <h5 class="text-xl font-bold text-white">Daria Riakina</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Web Developer
                        </p>
                        <div class="mt-6">
                            <button
                                    class="bg-gray-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                    onclick="window.open('https://www.linkedin.com/in/daria-riakina-08a3311a3', '_blank');"
                                    type="button"
                            >
                                <i class="fab fa-linkedin"></i></button
                            >
                            <button
                                    class="bg-gray-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"

                                    onclick="window.open('https://www.instagram.com/', '_blank');" type="button">

                                <i class="fab fa-instagram"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-6/12 lg:w-1/6 lg:mb-0 mb-6 pb-6 bg-deem">
                <div class="">
                    <img
                            alt="..."
                            src="./assets/img/photos/kate_bild.jpg"
                            class="shadow-lg max-w-full mx-auto"
                    />
                    <div class="pt-6 text-center px-2">
                        <h5 class="text-xl font-bold text-white">Ekaterina Pavlova</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Team lead, Web developer
                        </p>
                        <div class="mt-6">
                            <button
                                    class="bg-gray-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                    onclick="window.open('https://www.linkedin.com/in/paekva/', '_blank');"
                                    type="button"
                            >
                                <i class="fab fa-linkedin"></i></button
                            >
                            <button
                                    class="bg-gray-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"

                                    onclick="window.open('https://www.instagram.com/paekva/', '_blank');" type="button">

                                <i class="fab fa-instagram"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-6/12 lg:w-1/6 lg:mb-0 mb-6 pb-6 bg-deem">
                <div class="">
                    <img
                            alt="..."
                            src="./assets/img/photos/evgenii_bild.jpg"
                            class="shadow-lg max-w-full mx-auto"
                    />
                    <div class="pt-6 py-6 text-center px-2">
                        <h5 class="text-xl font-bold text-white">Evgenii Abdrazakov</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Lead developer, Devops
                        </p>
                        <div class="mt-6">
                            <button
                                    class="bg-gray-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                    onclick="window.open('https://www.linkedin.com/in/evgenii-abdrazakov', '_blank');"
                                    type="button"
                            >
                                <i class="fab fa-linkedin"></i></button
                            >
                            <button
                                    class="bg-gray-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"

                                    onclick="window.open('https://www.instagram.com/ovaday/', '_blank');" type="button">

                                <i class="fab fa-instagram"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-6/12 lg:w-1/6 lg:mb-0 mb-6 pb-6 bg-deem">
                <div class="">
                    <img
                            alt="..."
                            src="./assets/img/photos/shahzad_bild.jpg"
                            class="shadow-lg max-w-full mx-auto"
                    />
                    <div class="pt-6 text-center px-2">
                        <h5 class="text-xl font-bold text-white">Shahzad Khan</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            System Engineer
                        </p>
                        <div class="mt-6">
                            <button
                                    class="bg-gray-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                    onclick="window.open('https://www.linkedin.com/in/shahzadwebs', '_blank');"
                                    type="button"
                            >
                                <i class="fab fa-linkedin"></i></button
                            >
                            <button
                                    class="bg-gray-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"

                                    onclick="window.open('https://www.instagram.com/shahzadvlogger/', '_blank');"
                                    type="button">

                                <i class="fab fa-instagram"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-6/12 lg:w-1/6 lg:mb-0 mb-6 pb-6 bg-deem">
                <div class="">
                    <img
                            alt="..."
                            src="./assets/img/photos/nikita_bild.jpg"
                            class="shadow-lg max-w-full mx-auto"
                    />
                    <div class="pt-6 text-center px-2">
                        <h5 class="text-xl font-bold text-white">Mykyta Vasyliev</h5>
                        <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                            Web Developer
                        </p>
                        <div class="mt-6">
                            <button
                                    class="bg-gray-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                    onclick="window.open('https://www.linkedin.com/in/mykyta-vasyliev-a5aba9254/', '_blank');"
                                    type="button"
                            >
                                <i class="fab fa-linkedin"></i></button
                            >
                            <button
                                    class="bg-gray-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"

                                    onclick="window.open('https://www.instagram.com/nikvasyl/', '_blank');"
                                    type="button">

                                <i class="fab fa-instagram"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>