<div class="bg-white relative flex content-center items-center justify-center flex-row h-screen" style="height: 100vh;">
    <div class="flex space-x-8 py-2 my-2">
        <div class="w-1/3 h-16 px-14 border-solid border-2 rounded-md border-gray-500">
            Web development
        </div>
        <div class="w-1/3 h-16 px-14 border-solid border-2 rounded-md border-gray-500">
            Data management
        </div>
        <div class="w-1/3 h-16 px-14 border-solid border-2 rounded-md border-gray-500">
            System engineering
        </div>
    </div>
</div>