<style>
.columnValues {
	 /* flex: 33.33%;*/
      width:200px;
	  height: 400px;
	  padding: 15px;
	  margin-bottom: 20px;
   /* border: 1px solid lightgrey;
    border-radius: 8px;*/

	  /*background-color: #cccccc;*/

	/*  text-align: center;*/

	}
@media (min-width: 750px){
    .columnValues:nth-child(even){

    margin-top: 100px;
}
}

	.values {
	   display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -40px;
	}
    .values p{
  color:lightslategrey;
    font-size: 1em;
        font-family: Garamond, serif;
}
.values h3{
  color: black;
font-weight: bold;
    font-family: Garamond, serif;
    font-size: larger;
}
</style>


<section class="relative py-20 ">
  <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden mt-32 -mt-20"
          style="height: 80px; transform: translateZ(0px);"
  >
    <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
    >
      <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>

  <div class="pt-20 pb-48 container mx-auto px-4 ">
        <div class="flex flex-wrap justify-center text-center mb-24">
 <div class="w-full lg:w-6/12 px-4">
               <h2 class="text-4xl font-semibold text-black">Our Values</h2>

                <p class="text-lg leading-relaxed m-4 text-gray-600">
                    All people are different and that is what makes us unique and exceptional. We try our best every day and even more the day after.
                </p>
</div>
            </div>
    <div class="values">
                    <div class="columnValues" >
 <img src="./assets/img/love.png"style="width:200px; height:200px;margin-bottom:15px;border-radius: 50%;">
                    <h3 float="left" color="black">Equality </h3>

                    <p float="left" color="light grey" >
                       We strongly believe that all humans are created equal. We strive to create a company where everyone feels seen, heard and valued. It empowers us to innovate, build deeper connections with our customers, and become a better company.
                    </p>

                </div>
                <div class="columnValues" style="margin-left: 30px; margin-right: 30px;">
                    <img src="./assets/img/conversation.png.png"style="width:200px; height:200px;margin-bottom: 15px;border-radius: 50%;">
                    <h3 float="left" color="black">Communication </h3>

                    <p float="left" color="light grey">
                       We do our best to make our company a place where everyone can openly share their point of view and feel empowered to make difference. Our team makes everything possible.
                    </p>
 <p float="left" color="light grey">
     We highly value our customers. Interaction with the customers is what makes final products truly outstanding.
                    </p>

                </div>
                 <div class="columnValues">
 <img src="./assets/img/design-thinking.png"style="width:200px; height:200px;margin-bottom: 15px;border-radius: 50%;">
                    <h3 float="left" color="black">Creativity </h3>

                    <p float="left" color="light grey">
Innovation is what moves the world. It is an inspiration and uniqueness. It is what helps us to be exceeding.                    </p>

                </div>
      <div class="columnValues" style="margin-left: 30px; margin-right: 30px;">
                    <img src="./assets/img/shield.png"style="width:200px; height:200px;margin-bottom: 15px;border-radius: 50%;">
                    <h3 float="left" color="black">Reliability </h3>

                    <p float="left" color="light grey">
                        We believe consistency to deliver marvelous and reliable solutions is the key to building trust. We work hard to constantly improve.
                    </p>


                </div>
      <div class="columnValues">
 <img src="./assets/img/agile.png"style="width:200px; height:200px;margin-bottom: 15px;border-radius: 50%;">
                    <h3 float="left" color="black">Flexibility </h3>

                    <p float="left" color="light grey">
                       Our Team members have absolutely different and unique professinal background,
                        so we could skillfully meet our customers’ needs.


                    </p>
  <p float="left" color="light grey">
                        Our solutions are for customers and if the change is needed,  we’re prepared to work hard and make reasonable compromises in order to achieve the required result.
                    </p>
                </div>


                </div>
         </div>


</section>
